doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Almonaster la Real - Año 1812
    link(rel="stylesheet" href="css/styles.scss")
  body
    include header.pug

    main
      article.detalle-main-article
        section.detalle-main-section
          .detalle-content
            h1 Almonaster la Real en el Año 1812: Guerra de Independencia

            figure.detalle-image-grid
              picture.large-image
                source(srcset="images/index_background_v1-little.webp" type="image/webp" media="(max-width: 768px)") 
                source(srcset="images/index_background_v1.webp" type="image/webp" media="(min-width: 769px)")
                img(
                  src="images/index_background_v1.jpg"
                  srcset="images/index_background_v1-little.jpg 768w"
                  sizes="(max-width: 768px) 100vw"
                  alt="Vista general del Almonaster la Real")

              picture.small-image-1
                source(srcset="images/almonaster-blog-05-little.webp" type="image/webp" media="(max-width: 768px)") 
                source(srcset="images/almonaster-blog-05.webp" type="image/webp" media="(min-width: 769px)")
                img(
                  src="images/almonaster-blog-05.jpg"
                  srcset="images/almonaster-blog-05.jpg 768w"
                  sizes="(max-width: 768px) 100vw"
                  alt="Puente de la tinajería (imagen secundaria 1)")

              picture.small-image-2
                source(srcset="images/arcos-mezquinta.webp" type="image/webp" media="(max-width: 768px)") 
                source(srcset="images/arcos-mezquinta.webp" type="image/webp" media="(min-width: 769px)")
                img(
                  src="images/arcos-mezquinta.jpg"
                  srcset="images/arcos-mezquinta-little.jpg 768w"
                  sizes="(max-width: 768px) 100vw"
                  alt="Vista a través de la puerta de la mezquinta de Almonaster la real (imagen secundaria 2)")
            figcaption Vistas de Almonaster la Real.

            p En 1812, durante la Guerra de Independencia Española, la localidad de Almonaster la Real, se vio afectada por los conflictos que asolaban el país. Aunque no fue escenario de grandes batallas, la región jugó un papel estratégico en la resistencia local contra las tropas napoleónicas. Almonaster, con su terreno montañoso y su ubicación apartada, ofrecía un refugio seguro para las partidas de guerrilleros que luchaban por liberar el territorio de la ocupación francesa. La población local, unida por un fuerte sentido de pertenencia y lealtad a la Corona española, participó activamente en la resistencia.

            p Durante este período, los habitantes de Almonaster colaboraron con los guerrilleros proveyendo suministros, refugio y apoyo logístico. La mezquita fortaleza y el castillo de Almonaster se utilizaron como puntos de vigilancia para prevenir incursiones francesas en la sierra. La topografía accidentada de la zona dificultaba el avance de las tropas napoleónicas, lo que permitió a los guerrilleros realizar emboscadas y ataques sorpresa. La participación de los lugareños en estos esfuerzos de resistencia subraya el importante papel de las comunidades rurales en la lucha por la independencia española.

            p A pesar de las dificultades de la guerra, la comunidad de Almonaster se mantuvo unida y resiliente. Las redes de apoyo entre los vecinos fueron fundamentales para sobrevivir en un período de escasez y conflictos. El espíritu de resistencia que se forjó en esos años dejó una marca profunda en la memoria colectiva de la localidad, que hasta hoy recuerda la valentía y el sacrificio de sus antepasados. En el contexto de la guerra, Almonaster la Real no solo preservó su identidad, sino que también demostró el valor de las pequeñas comunidades en la defensa de la libertad y la independencia del país.

    include footer.pug